@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    font-family: 'Roboto', sans-serif;
}

a:link {
    text-decoration: none;
}

/*------------------------------------------------navbar*/

.navbar-edit {
    min-height: 80px;
    background-color: #b2b2b2;
    opacity: 0.8;
    margin: 0;
    border-bottom: 1px solid #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #800000;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-dark .navbar-toggler {
    border: 1px solid #800000;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("/assets/images/hamburger-icon-maroon.png");
}

.navbar-dark .navbar-toggler:hover {
    background-color: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.monkees-header-logo {
    height: 60px;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.headings {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    text-align: left;
    display: inline-block;
    color: #ffffff;
}

/*------------------------------------------------home-page*/

.jumbotron-home {
    background-image: url("../../assets/images/monkees-opacity.png");
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-top: 30px;
    margin: 0;
    padding-right: 20px;
    border-bottom: 1px solid #ffffff;
}

.jumbotron-logo {
    width: 100%;
    max-width: 400px;
    margin-top: 50px;
    margin-left: 10px;
}

.body-home-page {
    background-image: url("/assets/images/monkees1967.png");
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
    
.call-out-button-edit1 {
    background-color: #800000;
    color: #ffffff;
    border: 1px solid #800000;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    margin-top:20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.call-out-button-edit1:hover {
    background-color: #ffffff;
    color: #800000;
    border: 1px solid #800000;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.home-page-wrapper {
    padding: 0;
    margin: 0 auto;
    margin-top: 10px;
}

.home-top-section-wrapper {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #ffffff;
}

.fifty-years-div {
    background-color: transparent;
    margin-top: 0;
    margin: 0 auto;
    float: left;
    margin-bottom: 60px;
}

.latest-news-video-div {
    background-color: transparent;
    float: left;
    padding-bottom: 50px;
    margin-top: 10px;
}

.home-page-video {
     border: 10px solid #000000;
     border-radius: 5px;
}

.home-video-edit {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.picture-frame-slider {
    max-width: 85%;
    padding-top: 30px;
    margin-top: 0;
    display: block;
    margin: 0 auto;
     position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.frame-home-slider {
    display: block;
    margin: 0 auto;
}

.picture-frame-pic {
    display: block;
    float: left;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.latest-news-wrapper {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ffffff;
}

.latest-news-home-div {
    background-color: transparent;
    float: left;
}

.news-carousel-edit {
    padding-bottom: 30px;
}

.latest-news-slider-div {
    border-radius: 20px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 0;
}

.latest-news-fifty-years-one {
    margin-top: 0;
    margin-bottom: 50px;
    float: left;
}

.anniversary-pic {
    margin-top: 0;
    max-width: 100%;
    height: 320px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.latest-news-fifty-years-two {
    margin-top: 0;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.upcoming-events-home-div {
    padding: 0;
    margin: 0 auto;
}

.home-card-edit {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}

.home-card-img-top {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.carousel-item-transition {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*------------------------------------------------the band*/

.jumbotron-band {
    background-image: url("/assets/images/the-monkees-band-background.png");
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-top: 30px;
    margin: 0;
    padding-right: 20px;
    border-bottom: 1px solid #ffffff;
}

.band-body {
    background-image: url("/assets/images/band-body-background.png");
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.the-band-article-one-wrapper {
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
    margin: 0 auto;
}

.tv-series-wrapper {
    padding-bottom: 60px;
}

.meet-band-wrapper {
    border-bottom: 1px solid #ffffff;
}

.band-one-div {
    background-color: transparent;
    margin: 0 auto;
    padding: 0;
}

.band-content-wrapper {
    margin: 0 auto;
}

.tv-series-div-1 {
    background-color: transparent;
    margin-top: 0;
    padding: 0;
}

.tv-series-div-2 {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.old-band-pic {
    max-width: 100%;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 50px;
}

.cartoon-band-pic {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 30px;
}

.youtube-band-pic {
    width: 80px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.button-meet-monkees {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: 1px solid #800000;
    height: 90px;
    width: 120px;
}

.button-meet-monkees:hover {
    background-color: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.card-individual-images {
    width: 100%;
    border-radius: 5px;
}

.card-edit {
    background-color: transparent;
    border: none;
}

.card-img-top {
    height: 80px;
}

.monkee-tv-video {
    border: 10px solid #000000;
    border-radius: 5px;
}

.card-meet-edit {
    background-color: transparent;
    border: 1px solid #b2b2b2;
    margin: 0;
    padding: 0;
}

.btn-link-edit {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

 .btn-link-edit:hover {
     background-color: #ffffff;
     text-decoration: none;
 }
 
.meet-the-band-pic {
    max-width: 90%;
    max-height: 430px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 10px solid #ffffff;
}

.meet-the-band-pic-div {
    height: 460px;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.carousel-indicators li {
    background-color: #800000;
}

.carousel-control-next-icon-edit {
    background-image: url("/assets/images/arrow-right.png");
    width: 30px;
    height: 30px;
}

.carousel-control-prev-icon-edit {
    background-image: url("/assets/images/arrow-left.png");
    width: 30px;
    height: 30px;
}

.card-header-edit {
    margin-top: 0;
    padding: 0;
}

.card-img-top {
    display: block;
    float: right;
    height: 80px;
    width: auto;
    margin: 0;
    padding: 0;
}

.youtube-div {
    padding: 0;
    width: 100px;
    height: 80px;
    border-radius: 25px;
    background-color: transparent;
    margin: 0 auto;
}

.youtube-div:hover {
    background-color: #b2b2b2;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.band-div-text-1 {
    margin: 50px 20px 40px 20px;
}

.blockquote-edit {
     line-height: 2;
     text-align: justify;
     font-style: italic;
     font-size: 22px;
     margin-left: 80px;
     margin-right: 80px;
     padding-top: 60px;
     padding-bottom: 40px;
}

.blockquote-footer-edit {
    font-style: italic;
    font-size: 18px;
}

.meet-the-monkees-pic {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.band-two-div {
    background-color: transparent;
    padding-top: 10px;
}

.band-video-edit {
    border: 10px solid #000000;
    border-radius: 5px;
}
    
/*------------------------------------------------the music*/

.music-body {
    background-image: url("/assets/images/The-Monkees-19662.png");
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.jumbotron-music {
    background-image: url("/assets/images/the-monkees-music-header2.png");
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-top: 30px;
    margin: 0;
    padding-right: 20px;
    border-bottom: 1px solid #ffffff;
}

.jumbotron-logo-music {
    width: 100%;
    max-width: 400px;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.sample-music-div {
    margin: 0 auto;
    padding-bottom: 30px;
}
 
.monkees-album-cover {
    float:left;
}
    
.monkees-album-cover-1 {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 15px;
    max-width: 90%;
}

.section-header-text-1 {
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
}

.music-button-edit {
    display: block;
    color: #800000;
    border: 1px solid #800000;
    background-color: #ffffff;
    margin-left: 10px;
    max-height: 40px;
}

.music-button-edit:hover {
    background-color: #800000;
    color: #ffffff;
    border: 1px solid #800000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
    
.music-button-edit2 {
    display: block;
    color: #800000;
    border: 1px solid #800000;
    background-color: #ffffff;
    margin: 0 auto;
    max-height: 40px;
}

.music-button-edit2:hover {
    background-color: #800000;
    color: #ffffff;
    border: 1px solid #800000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.music-button-edit3 {
    background-color: #800000;
    color: #ffffff;
    border: 1px solid #800000;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.music-button-edit3:hover {
    background-color: #ffffff;
    color: #800000;
    border: 1px solid #800000;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.section-albums {
    border-top: 1px solid #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.album-text-edit {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.section-booking {
    border-top: 1px solid #ffffff;
    padding-bottom: 40px;
    font-family: "Roboto", sans-serif;
}

.best-of-album-songs {
    background-color: transparent;
    padding-bottom: 10px;
    padding-top: 10px;
}

.list-group-item {
    background-color: transparent;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.music-card-img-top {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.h5-edit {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 500;
}
    
audio {
    background:transparent;
    max-width: 100px;
    max-height: 25px;
}

.best-of-album-videos {
    float: left;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.monkee-music-video {
    border: 10px solid #000000;
    border-radius: 5px;
}

.last-section-music-video {
    margin: 0 auto;
}

/*------------------------------------------------contact-page*/

.contact-body {
    background-image: url("/assets/images/monkees-contact-page-background.png");
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.jumbotron-contact {
    background-image: url("/assets/images/monkees-music-blue.png");
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-top: 30px;
    margin: 0;
    padding-right: 20px;
    border-bottom: 1px solid #ffffff;
}
    
.contact-page-wrapper {
    background-color: transparent;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 0;
    padding: 20px;
    padding-top: 0;
}

.contact-form-column {
    width: 70%;
    padding: 0;
    margin: 0;
}

.contact-main-heading {
    margin-top: 100px;
    text-align: center;
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 50px;
    text-transform: uppercase;
}

.h3-contact {
    text-align: left;
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-text {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 22px;
    margin: 0;
    margin-bottom: 30px;
    text-align: justify;
}

.contact-form-button-edit {
    display: block;
    color: #ffffff;
    border: 1px solid #800000;
    background-color: #800000;
    margin-bottom: 30px;
    margin: 0 auto;
}

.contact-form-button-edit:hover {
    background-color: #ffffff;
    color: #800000;
    border: 1px solid #800000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.contact-event-form {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0 auto;
}
    
.form-control-edit {
    margin-bottom: 20px;
    margin-left: 0px;
    max-width: 300px;
}

.form-label-text {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
    display: inline-block;
    max-width: 200px;
}

/*------------------------------------------------footer*/

.footer-one {
    background-color: #b2b2b2;
    margin: 0;
    padding: 20px;
    border-top: 1px solid #ffffff;
}

.footer-logo {
    display: inline-block;
    text-align: center;
}

.monkees-footer-logo {
    max-height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-social-icons {
    display: inline-block;
    text-align: center;
    margin-top: 15px;
}

.social-icons-footer {
    margin-left: 15px;
    margin-right: 10px;
    color: #ffffff;
    font-size: 40px;
}

.social-icons-footer:hover {
    color: #800000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-signup-text {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
}

.footer-button-edit {
    display: block;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: #b2b2b2;
    margin-left: 5px;
}

.footer-button-edit:hover {
    background-color: #800000;
    border: 1px solid #800000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-input-edit {
    display: block;
    margin: 0 auto;
    border: 1px solid #ffffff;
    border-radius: 2px;
    max-width: 400px;
}

/*------------------------------------------------media-queries*/

@media screen and (min-width: 0px) and (max-width: 992px) {
  .headings {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    }

    .navbar-collapse {
    background-color: #b2b2b2;
    opacity: 0.8;
    }
    
    .meet-the-band-pic {
    padding-top: 0;
    }
    
    .meet-the-band-pic-div {
    margin-bottom: 40px;
    }
}

@media screen and (max-width: 480px) {
    .contact-form-column {
    width: 100%;
    }
    
    .meet-the-band-pic-div {
    display: none;
    }
    
    .picture-frame-slider {
    padding-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .blockquote-edit {
     margin-left: 20px;
     margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    .footer-logo {
        display: none;
    }
}
